/* General page styling */
body {
    margin: 100px;
    padding: 100px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    color: #222;
}

/* Navigation Bar */
nav {
    background-color: darkgreen;
    border-radius: 35px;
    margin: 20px 70px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

nav p {
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: goldenrod;
    padding: 5px 12px;
    border-radius: 20px;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-left: 25px;
    transition: 0.3s;
}

nav a:hover {
    color: gold;
    transform: scale(1.1);
}

/* HERO SECTION */
.hero {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
}

.hero img {
    width: 300px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.hero h1 {
    font-size: 100px;
    color: darkgreen;
    margin-top: 100px;
}

.hero p {
    font-size: 18px;
    margin-top: 5px;
}

/* ABOUT SECTION */
.about-us {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
}

.about-us img {
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.about-us h2 {
    font-size: 28px;
    color: darkgreen;
}

.about-us p {
    max-width: 700px;
    margin: 10px auto;
    line-height: 1.6;
}

/* SERVICES SECTION */
section div {
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    width: 250px;
   



section {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin: 50px ;
}

section div img {
    width: 50px;
}

/* FOOTER */
footer {
    background-color: #222;
    color: white;
    padding: 40px ;
    text-align: center;
    margin-top: 50px;
}

footer h4 {
    color: gold;
    margin-top: 50px;
}

footer p {
    margin: 5px 0;
    font-size: 14px;
}

footer p:hover {
    color: yellow;
    cursor: pointer;
}

/* RESPONSIVE DESIGN */
@media(max-width: 768px) {
    nav {
        flex-direction: column;
        margin: 10px;
        border-radius: 15px;
    }

    nav a {
        margin: 10px 0;
    }

    .hero img {
        width: 90%;
    }

    section {
        flex-direction: column;
        align-items: center;
    }

    section div {
        width: 80%;
    }
}
